.titulo {
    text-align: center;
    font-family: Arial;
    color: crimson;
}

.content {
    text-align: center;
    font-family: Arial;
    color: white;
    border: black solid;
    margin: 0 auto;
    padding: 0;
    border-radius: 4px;
    background-color: brown;
    width: 60%;

}

.cabecera {
    background-color: blue;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    font-family: Arial;
    border-radius: 2px;
    width: 60%;
    height: 30px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 30px;

}